.root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.link{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(49, 78, 243);
}